BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 4e911c063c96

CREATE TABLE workflow (
    id BIGSERIAL NOT NULL, 
    name VARCHAR(200) NOT NULL, 
    version INTEGER DEFAULT '1' NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_workflow_name_version ON workflow (name, version);

CREATE TABLE workflow_state (
    id BIGSERIAL NOT NULL, 
    workflow_id BIGINT NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    is_terminal BOOLEAN DEFAULT false NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(workflow_id) REFERENCES workflow (id) ON DELETE CASCADE
);

CREATE UNIQUE INDEX ix_workflow_state_workflow_name ON workflow_state (workflow_id, name);

CREATE TABLE workflow_transition (
    id BIGSERIAL NOT NULL, 
    workflow_id BIGINT NOT NULL, 
    from_state_id BIGINT NOT NULL, 
    to_state_id BIGINT NOT NULL, 
    role_required VARCHAR(100), 
    name VARCHAR(200), 
    PRIMARY KEY (id), 
    FOREIGN KEY(workflow_id) REFERENCES workflow (id) ON DELETE CASCADE, 
    FOREIGN KEY(from_state_id) REFERENCES workflow_state (id) ON DELETE CASCADE, 
    FOREIGN KEY(to_state_id) REFERENCES workflow_state (id) ON DELETE CASCADE
);

CREATE UNIQUE INDEX ix_workflow_transition_unique ON workflow_transition (workflow_id, from_state_id, to_state_id, role_required);

CREATE TABLE workflow_instance (
    id BIGSERIAL NOT NULL, 
    workflow_id BIGINT NOT NULL, 
    current_state_id BIGINT NOT NULL, 
    data JSONB DEFAULT '{}'::jsonb NOT NULL, 
    created_by VARCHAR(200), 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(workflow_id) REFERENCES workflow (id) ON DELETE RESTRICT, 
    FOREIGN KEY(current_state_id) REFERENCES workflow_state (id) ON DELETE RESTRICT
);

CREATE INDEX ix_workflow_instance_workflow_state ON workflow_instance (workflow_id, current_state_id);

CREATE INDEX ix_workflow_instance_created_at ON workflow_instance (created_at);

CREATE TABLE audit_event (
    id BIGSERIAL NOT NULL, 
    instance_id BIGINT NOT NULL, 
    ts TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    actor VARCHAR(200), 
    action VARCHAR(100) NOT NULL, 
    from_state_id BIGINT, 
    to_state_id BIGINT, 
    diff JSONB, 
    request_id VARCHAR(100), 
    PRIMARY KEY (id), 
    FOREIGN KEY(instance_id) REFERENCES workflow_instance (id) ON DELETE CASCADE, 
    FOREIGN KEY(from_state_id) REFERENCES workflow_state (id) ON DELETE SET NULL, 
    FOREIGN KEY(to_state_id) REFERENCES workflow_state (id) ON DELETE SET NULL
);

CREATE INDEX ix_audit_event_instance_ts ON audit_event (instance_id, ts);

INSERT INTO alembic_version (version_num) VALUES ('4e911c063c96') RETURNING alembic_version.version_num;

COMMIT;

